@import url('https://fonts.googleapis.com/css?family=Lato:700|Montserrat|Raleway');
html, body{
	margin: 0;
	width: 100%;
}

h1, h2, h3, h4, h5, a, p{
	font-family: 'Montserrat', sans-serif;
}
header{
	background: black;
	color: white;
}
.nav li a  {
	color: #fff;
}
#nav-list li a{
	color: #fff;
	font-weight: 100px;
}
#nav-list li a:hover{
	background: #eec65d;
	color: #222222;
}
#nav-right li a{
	color:  #eec65d;
}
#headline{
	padding: 150px;
	background: url(../images/bg-header.jpg);
}
#headline h1{
	font-family: 'Montserrat';
	font-size: 4em;
	color: #fff;
}
mark{
	background: #eec65d;
	padding: 0px;
}
#headline h3{
	color: #fff;
}
#headline button{
	background: transparent;
	border: 2px solid #fff;
	font-size: 1.2em;
	font-family: 'Lato','Bold';

}
#headline button:hover{
	border: 2px solid #eec65d;
	color: #eec65d;
}

#highlight{
	margin-top: -7%;
}
.highlight-content{
	max-height: 340px;
	overflow: hidden;
}
.first {
	color: #fff;
	padding: 0;
}

.second{
	padding: 0;
}
.third{
	padding: 0;
}
#product-list{
	padding: 30px;
}

#product-list .container .col-md-6 .thumbnail{
	margin-bottom: 30px;
	padding: 20px;
}
.btn{
	border-radius: 0px;
}
.btn-detail{
	border: 2px solid #eec65d;
	background: transparent;x
}
.btn-detail:hover{
	background: #eec65d;
	color: #000;
}
#feature{
	background: #fff;
	padding: 20px;
}
#feature p{
	font-size: 12px;
}
.img-centered{
	margin: 0 auto !important;

}
#bottom{
	color: #fff;
	padding: 20px;
	background: #222;
}
#bottom li{
	list-style-type: none;
}
#bottom h3{
	color: #dfdfdf;
}
#bottom li a{
	color: #fff;
	list-style-type: none;
	font-family: 'Raleway';
	line-height: 2;
}

/*****DETAIL CONTENT*****/
#content{
	background: #eee;
	padding: 50px;
}
.detail-content{
	background: #fff;
	margin-bottom: 30px;
	padding: 20px 0px 20px 0px;
}
#content p{
	font-family: 'Lato';
}
#content .btn{
	border-radius: 0px;
	padding: 12px;
}
.promo{
	background: #fff7e2;
	padding: 10px;
	border: 1px solid #eec65d;
	margin: 10px 0px 10px 0px;
}
.head-tab ul li a{
	color: #000 ;
}

/*PURCHASE*/
#purchase{
	background: #eee;
	padding: 40px;
}
#detail-pembeli{
	background: #fff;
	padding: 20px;
}
#ringkasan-belanja{
	background: #fff;
	margin-left: 20px;
	padding: 20px; 
}
.form-control{
	border-radius: 0px;
}
#cart{
	background: #eee;
	padding: 40px;
}
#keranjang{
	background: #fff;
	padding: 20px;
	margin-top: -60px;
}
#detail-purchase{
	background: #fff;
	padding: 20px;
}

#headline-shipped{
	padding: 50px;
	background: url(../images/bg-header.jpg) fixed center no-repeat;
	background-size: cover;
	color: #fff;
}
#produk-shipped{
	padding: 30px;
}
#produk-shipped .thumbnail{
	padding: 10px;
}
.btn .btn-select{
	border-radius: 1px;
	border: none;
}
#produk-shipped .dropdown button{
	width: 90%;
}
#produk-shipped .dropdown .dropdown-menu{
	width: 90%;
}
.btn-trans-red{
	background: transparent;
	padding: 10px;
	border: 2px solid #d9534f;
	color: #000;
}
.btn-trans-red:hover{
	background: #d9534f;
	padding: 10px;
	border: 2px solid #d9534f;
	color: #fff;
	margin: 0 auto;
}
.modal-content{
	border-radius: 0px;
}

#user-dashboard{
	padding: 10px;
	background: #fff;
}
.full .btn{
	width: 100%;
	display: block;
}
label{
	font-family: 'Raleway';
}
footer{
	padding: 10px;
	background: #000;
	color: #dfdfdf;
}